h1,
p {
  text-align: center;
}

.lista {
  list-style: none;
}

.titulo {
  background-color: red;
  font-size: 1.5em;
}

.paragrafos {
  background-color: blue;
}

.listaordenada {
  background-color: green;
}

.listanaoord {
  background-color: pink;
}

.listaordenada:hover {
  background-color: aqua;
  border-style: solid;
}

.listanaoord:active {
  background-color: orange;
}
